*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    flex-direction: column;
}
.main-container{
    margin-top: 2rem;
    height: 15rem;
    width: 30rem;
   background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
   border-radius: 1rem;
    align-items: center;
    justify-content: space-around;
}
.header{
    margin-top: 2rem;
    margin-left: 3rem;
    border: none;
   
}
.password-input{
    outline: none;
    height: 3rem;
    width: 14rem;
    border:1px solid yellowgreen;
    background: #cfd9df;
    border-style: none;
    border-radius: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 2rem;
    color: black;
}
.password-button{
    height: 3rem;
    width: 10rem;
    border-style: none;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(5, 132, 182);
    color: white;
}

.sectret-password{
margin-top: 4rem;
margin-left: 9rem;
    width: 14rem;
    height: 4rem;
    color:rgb(5, 132, 182);
    font-size: 2rem;
    font-weight: 5rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 15px;
    align-items: center;
    padding-left: 2.5rem;
    padding-top: 1rem;
}
